
{% extends "base.html" %}
{% block title %}Reset your password{% endblock %}
{% block content %}
    <h1 class="is-size-2">Forgotten your password?</h1>
    <p class="is-size-5">Enter your e-mail address to obtain a new password.</p>
    <form method="post">
        {% for field in form %}
            <div class="field">
                {{ field.errors }}
                <label class="label"> {{ field.label_tag }}</label>
                <div class="control">
                    {{ field }}
                </div>
                {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
            </div>
        {% endfor %}

        <p><input class="button" type="submit" value="Send e-mail"></p>
        {% csrf_token %}
    </form>
{% endblock %}
